.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.terms {
  display: flex;
  justify-content: flex-start;
}
.check {
  width: fit-content;
  text-align: center;
  margin-right: 5px;
}
.login {
  background: linear-gradient(135deg, #003366, #0066cc, #3399ff);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.login:hover {
  transform: scale(1.05);
}
